{% extends 'adminLayout.twig' %}

{% block body %}
	<div class="adminBlock">
        <h3>Գործողություններ</h3>
		<a href="/">Տեսնել գլխավոր էջը</a>
		<a href="/admin/classrooms">Բոլոր դասարանները՝ {{classrooms}}</a>
		<a href="/admin/new/classrooms">Ավելացնել դասարան</a>
		<a href="/admin/students">Բոլոր սովորողները՝ {{students}}</a>
		<a href="/admin/new/students">Ավելացնել սովորող</a>
	</div>
    <div class="adminBlock">
        <h3>Նշումներ ծրագրավորողների համար</h3>
		<a href="/admin/readme/README">Ծրագրի մասին</a>
		<a href="/admin/readme/password">Ինչպես փոխել գաղտնաբառը</a>
		<a href="/admin/readme/styles">Ինչպես ավելացնել կամ հեռացնել դիզայն</a>
	</div>
{% endblock %}
