{% extends 'layout.twig' %}

{% block body %}
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  {% for classroom in classrooms %}
      <div class='classroom'>
        <img src='{{classroom.image}}'>
        <h2>{{classroom.name}}</h2>
        {{classroom.description}}
        <a href='/class/{{classroom.year}}'>Ավելին</a>
      </div>
    {% endfor %}
{% endblock %}
