{% extends 'layout.twig' %}

{% block body %}
  {% for classroom in classrooms %}
      <a class = "classroom" href='/class/{{classroom.year}}'>
        <h1>{{classroom.name}}</h1>
        <img src='{{classroom.image}}'>
        {{classroom.description}}
      </a>
    {% endfor %}
{% endblock %}
