{% extends 'loginLayout.twig' %}

{% block body %}
	<div class="login">
		<h1>{{title}}</h1>
        <span id="warning">Մուտքանունի կամ գաղտնաբառի սխալ</span>
        <input id="username" type="text" name="username" placeholder="Մուտքանուն">
        <input id="password" type="password" name="password" placeholder="Գաղտնաբառ" onchange="login()">
        <button onclick="login()">Մուտք</button>
	</div>
{% endblock %}
