{% extends 'classroomLayout.twig' %}

{% block body %}
	<div class="studentLongInfo">
		<div class="studentInfo">
			<img src='{{student.image}}'>
			<div class="studentNameAndQuote">
				<h3>{{student.name}}</h3>
				<i>{{student.quote}}</i>
			</div>
		</div>
		{{student.body}}
	</div>
{% endblock %}
