{% extends 'classroomLayout.twig' %}

{% block body %}
	<div class="studentLongInfo">
		<div class="studentInfo">
			<img src='{{student.image}}'>
			<h3>{{student.name}}</h3>
			<p>{{student.quote}}</p>
		</div>
		{{student.body}}
	</div>
{% endblock %}
